.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__names
        masa
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "side-bar__user-name__top-items__icons__btn side-bar__user-name__top-items__icons__btn--edit" do
          = icon('far fa-edit', class: "side-bar__user-name__top-items__btn--icon")
        = link_to "#", class: "side-bar__user-name__top-items__icons__btn side-bar__user-name__top-items__icons__btn--cogs" do
          = icon('fas fa-cog', class: "side-bar__user-name__top-items__btn--icon")
  .side-bar__group-list
    .side-bar__group-list__list
      .side-bar__group-list__list__group-name
        techcamp
      .side-bar__group-list__list__message
        まだメッセージがありません
      .side-bar__group-list__list__group-name
        techcamp2
      .side-bar__group-list__list__message
        まだメッセージがありません2


  
