* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.side-bar {
  height: 100%;
  width: 300px;
  float: left;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;    
    &__top-items {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__names {
        font-size: 16px;
        width: calc(100% - 60px);
        height: 20px;
        color: #ffffff;
        font-weight: bold;
        }
      &__icons {
        display: flex;
        justify-content: space-between;
        &__btn {
        }
        &__btn--edit{
          color: #ffffff;
        }
        &__btn--cogs{
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
   &__group-list {
    background-color: #2f3e51;
    height: calc(100% - 100px);
    width: 300px;
    &__list {
      color: #ffffff;
      padding: 0 20px;
      &__group-name {
        font-size: 15px;
        padding: 20px 0 5px 0;
      }
      &__message {
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}

.chat-main {
  height: 100%;
  width: calc(100vw - 300px);
  float: right;
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: space-between;
    &__group-detail {
      padding-left: 40px;
      &__group-name {
        color: #333333;
        font-size: 20px;
        padding: 35px 0 15px 0;
      }
      &__member-name {
        color: #999999;
        font-size: 12px;
      }
    }
    &__edit-box {
      width: 72px;
      height: 40px;
      border: solid 1px #38aef0;
      margin: 28px 40px 32px 0;
      &__edit {
        color: #38aef0;
        font-size: 16px;
        padding: 8px 20px;
        &__btn{
          color: #38aef0;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
  }
  &__message-main {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
    &__message-box {
      margin-left: 40px;
      &__message-info {
        padding: 35px 0 12px;
        display: flex;
        &__message-name {
          color: #333333;
          font-size: 16px;
        }
        &__message-date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &_message-detail {
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    &__new_message {
      display: flex;
      &__input-box {
        display: flex;
        height: 50px;
        width: 100%;
        margin: 20px 0 20px 40px;
        position: relative;
        &__text {
          width: 100%;
          padding-left: 10px;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        margin: 20px 40px 20px 15px;
        cursor: pointer;
      }
    }
  }
}